name: Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install Backend Dependencies
      run: |
        cd backend
        npm ci
        npm run install:all
    - name: Run Backend Tests
      run: |
        cd backend
        npm run test
    - name: Install Frontend Dependencies 
      run: |
        cd frontend
        npm ci
    - name: Run Frontend Tests 
      run: |
        cd frontend
        npm run test
