name: Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
    - name: Install Backend Dependencies
      run: |
        cd backend
        npm i
        npm run install:all
    - name: Run Backend Tests
      run: |
        cd backend
        npm run test
    - name: Install Frontend Dependencies 
      run: |
        cd frontend
        npm i
    - name: Run Frontend Tests 
      run: |
        cd frontend
        npm run test
